.input-wrapper {
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
}

.inside-label {
  position: absolute;
  height: 48px;
  max-width: 105px;
  width: 100%;
  left: 5px;
  background: #ffffff;
  box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.15);

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.styled-input {
  background: #ffffff;
  width: 100%;
  color: #333;
  font-size: 16px;
  padding: 12px;
  border: 2px solid #000000;
  border-radius: 0;
}

.input-container {
  width: 100%;
  height: 100%;
}

.inside-label-padding {
  padding-left: 130px;
}
