@import '~react-dropdown/style.css';

.form-group {
  position: relative;
  padding: 15px 0 0;
  width: 75%;
}

.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.15rem;
  color: black;
  padding: 10px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: 500;
}

.form-field::placeholder {
  color: transparent;
}

.form-field:focus-within::placeholder,
.form-field:not(:placeholder-shown)::placeholder {
  color: transparent;
}

.form-field:focus-within ~ .form-label,
.form-field:not(:placeholder-shown) ~ .form-label {
  font-size: 1.05rem;
  font-weight: 700;
  cursor: text;
  top: 0;
}

.form-label {
  position: absolute;
  top: 30px;
  display: block;
  transition: 0.2s;
  font-size: 1.15rem;
  font-weight: 700;
  color: #9b9b9b;
}
